.v-application {
  .filter {
    font-family: 'Gotham Pro';
    border-top: 1px solid #e8e8e8;
    padding-top: 30px;
    margin-top: 50px;
    display: flex;
    gap: 10px;
  
    &__select-clients {
      width: 190px !important;
      height: 50px;
      border-radius: 100px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
      padding: 4px 24px 4px 24px;
  
      &-text {
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        line-height: 15px;
        padding-top: 13px;
      }
    }
  
    &__select-sorts {
      width: 150px !important;
      height: 50px;
      border-radius: 100px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
      padding: 4px 24px 4px 24px;
  
      &-text {
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        line-height: 15px;
        padding-top: 13px;
      }
    }
  }
}