.v-application {
  .grettings {
    font-family: "Gotham Pro";
  
    &__subtitle {
      font-weight: 700;
      font-size: 28px;
      line-height: 28px;
      color: #767676;
      margin-bottom: 18px !important;
    }

    &__title {
      font-weight: 400;
      font-size: 48px;
      line-height: 53px;
      color: #1d1d1d;
      font-family: 'Gotham Black';
      margin-top: 20px;
    }
  }
}