.v-application {
  .table-row {
    font-family: "Gotham Pro";
    border: 1px solid #e8e8e8;
    padding: 28px 33px;
    border-radius: 16px;
    display: flex;
    justify-content: flex-start;

    &__text {
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
      width: 25%;
    }

    &__buffer {
      width: 160px;
      height: 19px;
      background: #e8e8e8;
      border-radius: 5px;
    }
  }
}
