@font-face {
  font-family: 'Gotham Pro';
  src: url('../GothamFont/Gotham\ Pro\ Regular.ttf')  format('truetype'),
}

@font-face {
  font-family: 'Gotham Black';
  src: url('../GothamFont/Gotham\ Pro\ Black.ttf')  format('truetype'),
}