/*========= All App File Are Include Here ==========*/

@import "../variables.scss";

@import "./layout";
@import "./font.scss";

@import "./dashboard";

/*=============================================
=            snotify            =
=============================================*/

@import "~vue-snotify/styles/material";
@import "plugins/snotify";

html {
  font-family: "Gotham Pro";
}
.v-application .v-application--wrap * {
  font-family: $body-font-family !important;
}
.my-carousel {
  a[class^="prev"], a[class^="next"] {
    display: none;
  }
}

/*=====  End of snotify  ======*/
